*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
prueba/padron_limpio.json
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
resources/css/*.css.map
resources/js/*.js.map
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Cachés y temporales locales
.composer/
.config/
.npm/
.lesshst
*.pyc
__pycache__/
.DS_Store

# Logs adicionales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
